.todo-settings {
  margin-bottom: 2.4rem;
  font-size: 1.5rem;
  color: #BEBEBE;
  &__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.4rem 0.6rem;
    box-shadow: 0px 0px 0px 1px currentColor;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    transition: all .5s;
    &:hover,
    &[data-active="true"] {
      color: #8B87B3;
    }
  }
  &__radio {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
}